<div>
  <h1>
    Welcome <small>Dear user</small>
  </h1>
</div>
<div>
  &nbsp;
</div>
<div>
  Welcome to <%= @store %> We are exited that you be part of our store.
</div>
<div>
  With your account you can buy products from our store, and you receive promotions.
</div>
<div>
  &bnsp;
</div>  
<div>
  Enjoy our Store
</div>
