<table>
  <tr>
    <td>
      <h3>
        Welcome Dear user
      </h3>
    </td>
  </tr>
  <tr>
    <td>
      Welcome to <%= @store %> We are exited that you be part of our store.
    </td>
  </tr>
  <tr>
    <td>
      With your account you can buy products from our store, and you receive promotions.
    </td>
  </tr>
  <tr>
    <td>

    </td>
  </tr>
  <tr>
    <td>
     Enjoy our Store
   </td>
 </tr>
</table>
