<div >
  <h3>
    Welcome Dear user 
  </h3>
</div>
<div>
  &nbsp;
</div>
<div>
  Welcome to <%= @store %> We are exited that you be part of our store.
</div>
<div>
  With your account you can buy products from our store, and you receive promotions.
</div>
<div>
  &nbsp;
</div>  
<div>
  Enjoy our Store
</div>
